
.terminal {
    background-color: black;
    border: 5px solid #444; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(255, 255, 255, 0.1);
    position: relative;
    cursor: move;
  }
  
.resize-handle {
    width: 20px;
    height: 20px;
    background-color: #444;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: nwse-resize; 
}


.scroll-stuff::-webkit-scrollbar {
  width: 0; 
  background: transparent; 
}


.scroll-stuff {
  scrollbar-width: none; 
}


.scroll-stuff {
  -ms-overflow-style: none; 
}